body	{
	font-family: Helvetica, Arial, sans-serif;
	color: #333;
	padding: 0;
	margin: 0;
}

#headerContainer	{
	position: fixed;
	width:100%;
	color: #fff;
	/*background: url(../images/temp_bg.jpg);*/
	top: 0;
	right: 0;
	left: 0;
}

/* test styles */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.ha-header {
	position: fixed;
}

.ha-header-perspective {
	width: 100%;
	background-color: rgba(0,0,0,0.85);
	height: 175px;
	transition:height 0.45s;
}

.ha-header-perspective > div { /* so the '>' says select only the first div */
	width: 900px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

/* Text styling */
.ha-header h1,
.ha-header h1::before,
.ha-header h1 span {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

.ha-header h1 {
	margin: 0;
	padding: 0 1em 0 0;
	color: #2d383f;
	width:100%;
	height: 100%;
	font-size: 3em;
}

.ha-header h1::before {
	content: '';
	height: 100%;
}

/* end test styles */

#header h1 a,
#header h1 a:visited,
#header h1 a:hover {
	color: #FFF;
}

#header	{
	width: 100%;
	margin: auto;
}

#contentContainer	
{
	width: 900px;
	margin: 250px auto 0 auto;
}

#introduction p {
	padding-left: 30px;
}

#footer	{
	width: 900px;
	height: 200px;
	margin: 0;
	padding: 0;
}

#footer	{
	width: 100%;
	background-color: #000;
}

.social_media	{
	margin: auto;
	height: 100%;
}

.social_media ul	{
	vertical-align: middle;
	margin: auto;
	width: 500px;
	height: 100px;
}

.social_media li
{
	font-size: 2em;
	display: inline-block;
	decoration: none;
}

.blog_feature	{
	width: 300px;
	float: right;
}

.general_info	{
	width: 300px;
}

#navContainer
{
	width: 100%;
	background-color:#333;
	margin: 0;
	padding: 0;
	bottom: 0;	
}

#nav	{
	width: 900px;
	margin: auto;
	font-size: 1.75em;
	transition: all 0.5s;

}
#nav ul {
	padding: 0 0 0 10px;
	margin: 0;
}

#nav a, 
#nav a:active, 
#nav a:visited {
	color:#FFF;
	text-decoration: none;
}

#nav a:hover {
	color:black;
	text-decoration: none;
}

#nav li	{
	background-color: #000;
	/*display: inline-block;*/
	float: left;
	padding-right: 0;
	margin: 0;
}

#nav li:hover {
	background-color: #F00;
}

#nav li:last-child {
	border-right: none;
	padding-left: 10px;
}

.portfolioPiece	{
	border-top: 1px dashed #DDD;
	border-bottom: 1px dashed #DDD;
	margin: 0 0 20px 0;
	padding: 0 0;
}

.portfolioPiece img	{
	float: right;
	margin: 1px 0 1px 0;
	padding: 0 0;
}

.pieceDescription	{
/*	background-color: #FFF;
*/	width: 610px;
	margin: 0 0 0 0;
}

.clearHack	{
	clear: both;
}

.blueLink a:link	{
	color: #2e6f8b;
}

#headerBulletsContainer	{
	/*background-color: #EE00EE;*/
	float: right;
	margin-top:20px;
	padding: 0 19px 0 0;
	transition:opacity 0.5s;
}

.headlineBullets li	{
	font-size: 1.15em;
	padding-bottom: 10px;
	color: #fff;
	list-style: none;
	font-weight: bold;
}

#resumeHolder	{
	margin-bottom: 50px;
}

#resume	{
	border: 1px dashed #EEE;
	color: #555;
}

#quakerBanner	{
/*	float: right;
*/	width: 700px;
	margin: 10px 0;
}

#sprintBanner	{
	width: 640px;
	margin: 10px auto;
}

#featuredNavigation	{
	width: 700px;
}

#imgContainer {
	height: 200px;

	text-align: justify;
	-ms-text-justify: distribute-all-lines
	text-justify: distribute-all-lines;

	/* just for demo */
	min-width: 612px;
}

.box1, .box2, .box3, .box4 {
	width: 240px;
	height: 170px;
	vertical-align: top;
	display: inline-block;
	/**display: inline;*/
	zoom: 1;
}

.stretch {
	width: 100%;
	display: inline-block;
	font-size: 0;
	line-height: 0;
}

@media (max-width: 900px) {

	#headerBulletsContainer	{
		display: none;
	}

	.ha-header h1 {
		width: 550px;
		margin: 0 auto;
	}

	#nav	{
		width: 500px;
		margin: auto;
		font-size: 1.75em;
	}

	#footer	{
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.pieceDescription	{
		width: 100%;
		margin: 0 0 0 0;
	}

	.portfolioPiece img	{
		float: none;
		margin: 1px 0 1px 0;
		padding: 0 0;
	}

	#contentContainer	
	{
		width: 100%;
		margin: 250px auto 0 auto;
	}

	.imgBar {
		width: 250px;
		float: none;
		margin: auto;
	}

	section {
		margin: auto 20px;
	}
}

/*==========================//
//			TEXT			//
//==========================*/
/*
h1	{
	font-size: 2.5em;
	margin: 0 0 -1.5% -0.5%;
}
*/
h2	{
	margin: 30px 0 10px 0;
	font-size:1.5em;
}

p	{
	line-height: 125%;
	font-size: 100%;
}

li	{
	font-size: 90%;
}

h3 {
	margin: 0 0 0 0;
}

#resume p,
#resume h3,
#resume ul,
img	{
	margin: 2% 2%;
	border: 0;
}

li	{
	margin-bottom: 0.5%;
}

.description a:link,
.description a:hover,
.description a:visited	{
	font-style: oblique;
	font-size: 150%;
	line-height: 30px;
	color: red;
	text-decoration: none;
}

.jobLocation
{
	font-weight: bold;
	border-bottom: 1px dashed #AAA;
}

.jobTitle	{
	font-style: italic;
}

.degree	{
	font-style: italic;
}

.skills	{
	color: red;
}

.imgBar {
	width: 250px;
	float: right;
	background-color:#000000;
}

h3 a:visited,
h3 a:hover,
h3 a:link	{
	text-decoration: none;
	color: black;
}

h1 a:visited,
h1 a:hover,
h1 a:link	{
	text-decoration: none;
	color: black;
}

a:visited	{
	color: #444;
}

a:link	{
	color: red;
}

.header-small {
	height:60px;
}

.bullets-hide, 
.description-hide {
	opacity: 0;
}

.bullets-show {
	opacity: 1;
	transition: 1s;
}